<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hideactive">

    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Dangerous Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.SessionApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 引导页 -->
        <activity
            android:name=".domain.entrance.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".domain.user.RegisterActivity"
            android:theme="@style/AppTheme.Grey"
            android:screenOrientation="portrait">
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".domain.user.LoginActivity"
            android:theme="@style/AppTheme.Grey"
            android:screenOrientation="portrait">
        </activity>
        <!-- 用户信息 -->
        <activity
            android:name=".domain.user.UserInfoActivity"
            android:theme="@style/AppTheme.Grey"
            android:screenOrientation="portrait">
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".domain.main.MainActivity"
            android:theme="@style/AppTheme.Grey"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".domain.receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
